$primary-color: #9356DC;

$second-color: #ff79da;

$tertiaire-color: #99e2d0;

$linear-gradient-heart: linear-gradient(160deg,$primary-color 0%, $second-color 95%);
$linear-gradient-button: linear-gradient(180deg,$second-color 0%, $primary-color 95%);