.check{
    display: flex;
    margin: 0% 0% 0% 0%;
    border: 1px solid $tertiaire-color;
    width: 18%;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0% 20% 20% 0%;
    background-color: $tertiaire-color;
}
.check i{
    color: white;
    font-size: 20px;

}