@media screen and (max-width:575px){
    .menu__contener{
        margin: 3%;
    }
    .menu__contener h2{
        border-bottom: 2px solid $tertiaire-color;
        padding-top: 2%;
        text-align: center;
        width: 70px;
    }
    .entrees{
        margin: -5% 0% 10% 0%;
    }
    .plats{
        margin: 0% 0% 10% 0%;
    }
    .entree__price, .plats__price, .dessert__price{
        display: flex;
        position: relative;
        font-size: initial;
        justify-content: end;
        width: 50%;
        span{
            display: inline-block;
        }
    }
    .entree__card, .plats__card, .dessert__card{
        color: black;
        text-decoration: none;
        margin-bottom: 20px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: #fcfcfc;
        -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.16); 
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.16);
        width: 100%;
        height: 70px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .entree__card--content{
        padding-left: 10px;
        width: 80%;
        h3{
            font-size: initial;
            width: 100%;
            margin: 0% 0% 0% 2%;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;        
        }
        p{
            font-size: small;
            width: 100%;
            margin: 0% 0% 0% 2%;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;        
        }
    }
    .plats__card--content{
        padding-left: 10px;
        width: 50%;
        h3{
            font-size: initial;
            width: 100%;
            margin: 0% 0% 0% 2%;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;        
        }
        p{
            font-size: small;
            width: 100%;
            margin: 0% 0% 0% 2%;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;        
        }
    }
    .dessert__card--content{
        padding-left: 10px;
        width: 50%;
        h3{
            font-size: initial;
            width: 100%;
            margin: 0% 0% 0% 2%;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;        
        }
        p{
            font-size: small;
            width: 100%;
            margin: 0% 0% 0% 2%;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;        
        }
    }

    .entree__contener{
        .entree__card{
            font-size: 22px;
            position: relative;
            transition: all 1s ease-in-out;
            .check{
                opacity: 0;
                width: 0%;
                transition: all 0.8s ease-in-out;

            }
            &:hover{
                .entree__card--content{
                    width: 50%;
                }
                .check{
                    opacity: 100;
                    width: 18%;
                    i{
                    animation: rotate 1s ease-in-out both; 
                    }
                    
                }
                .entree__price span{
                    color: red;
                    width: 20%;
                    margin-right: 10%;
                }
                // p{
                //     width: 88%;
                // }
            }
        }
    }
    .plats__contener{
        .plats__card{
            font-size: 22px;
            position: relative;
            transition: all 1s ease-in-out;
            .check{
                opacity: 0;
                width: 0%;
                transition: all 0.8s ease-in-out;

            }
            &:hover{
                .check{
                    opacity: 100;
                    width: 18%;
                    i{
                    animation: rotate 1s ease-in-out both; 
                    }
                    
                }
                .plats__price span{
                    color: red;
                    width: 20%;
                    margin-right: 10%;
                }
                // p{
                //     width: 88%;
                // }
            }
        }
    }
    .dessert__contener{
        .dessert__card{
            font-size: 22px;
            position: relative;
            transition: all 1s ease-in-out;
            .check{
                opacity: 0;
                width: 0%;
                transition: all 0.8s ease-in-out;

            }
            &:hover{
                .check{
                    opacity: 100;
                    width: 18%;
                    i{
                    animation: rotate 1s ease-in-out both; 
                    }
                    
                }
                .dessert__price span{
                    color: red;
                    width: 20%;
                    margin-right: 10%;
                }
                // p{
                //     width: 88%;
                // }
            }
        }
    }
}

@media screen and (min-width:576px){
    .menu__contener h2{
        border-bottom: 2px solid $tertiaire-color;
        padding-top: 2%;
        text-align: center;
        width: 100px;
        font-size: 30px;
    }
    .entrees{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .plats{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dessert{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .entree__price, .plats__price, .dessert__price{
        display: flex;
        position: relative;
        font-size: initial;
        justify-content: end;
        width: 50%;
        span{
            display: inline-block;
        }
    }
    .entree__card, .plats__card, .dessert__card{
        color: black;
        text-decoration: none;
        margin-bottom: 20px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: #fcfcfc;
        -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.16); 
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.16);
        width: 180%;
        height: 90px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .entree__card--content{
        padding-left: 10px;
        width: 80%;
        h3{
            font-size: initial;
            width: 100%;
            margin: 0% 0% 0% 2%;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;        
        }
        p{
            font-size: small;
            width: 100%;
            margin: 0% 0% 0% 2%;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;        
        }
    }
    .plats__card--content{
        padding-left: 10px;
        width: 50%;
        h3{
            font-size: initial;
            width: 100%;
            margin: 0% 0% 0% 2%;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;        
        }
        p{
            font-size: small;
            width: 100%;
            margin: 0% 0% 0% 2%;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;        
        }
    }
    .dessert__card--content{
        padding-left: 10px;
        width: 50%;
        h3{
            font-size: initial;
            width: 100%;
            margin: 0% 0% 0% 2%;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;        
        }
        p{
            font-size: small;
            width: 100%;
            margin: 0% 0% 0% 2%;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;        
        }
    }

    .entree__contener{
        display: flex;
        flex-direction: column;
        align-items: center;
        .entree__card{
            font-size: 22px;
            position: relative;
            transition: all 1s ease-in-out;
            .check{
                opacity: 0;
                width: 0%;
                transition: all 0.8s ease-in-out;
            }
            &:hover{
                .entree__card--content{
                    width: 50%;
                }
                .check{
                    opacity: 100;
                    width: 18%;
                    i{
                    animation: rotate 1s ease-in-out both; 
                    }
                }
                .entree__price span{
                    color: red;
                    width: 20%;
                    margin-right: 10%;
                }
                // p{
                //     width: 88%;
                // }
            }
        }
    }
    .plats__contener{
        display: flex;
        flex-direction: column;
        align-items: center;
        .plats__card{
            font-size: 22px;
            position: relative;
            transition: all 1s ease-in-out;
            .check{
                opacity: 0;
                width: 0%;
                transition: all 0.8s ease-in-out;
            }
            &:hover{
                .check{
                    opacity: 100;
                    width: 18%;
                    i{
                    animation: rotate 1s ease-in-out both; 
                    }
                }
                .plats__price span{
                    color: red;
                    width: 20%;
                    margin-right: 10%;
                }
                // p{
                //     width: 88%;
                // }
            }
        }
    }
    .dessert__contener{
        display: flex;
        flex-direction: column;
        align-items: center;
        .dessert__card{
            font-size: 22px;
            position: relative;
            transition: all 1s ease-in-out;
            .check{
                opacity: 0;
                width: 0%;
                transition: all 0.8s ease-in-out;
            }
            &:hover{
                .check{
                    opacity: 100;
                    width: 18%;
                    i{
                    animation: rotate 1s ease-in-out both; 
                    }
                }
                .dessert__price span{
                    color: red;
                    width: 20%;
                    margin-right: 10%;
                }
                // p{
                //     width: 88%;
                // }
            }
        }
    }
    .button__commande{
        .button{
            width: 40%;
            height: 40px;
        }
    }
}
@media screen and (min-width:992px){
    .button__commande{
        .button{
            width: 40%;
            height: 60px;
        }
        span{
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}