.search-class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #e5e5e6;
    margin-top: 3%;
    gap: 5%;
    padding-left: 20%;
    border-top: 1px  #CCC solid;
    box-shadow: 
        inset 0px 15px 8px -10px #CCC;
    .search{
        background-color: #e5e5e6;
        border: none;
        font-size: 15px;
    }
}



@media screen and (min-width:576px){
    .search__contener{
        display: flex;
        flex-direction: column;
        align-items: center;
        .search-class{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            border: 1px solid #f2f2f2;
            background-color: #e5e5e6;
            margin-top: 3%;
            width: 50%;
            border-radius: 20px;
            padding: 0% 0% 0% 4%;
            .search{
                background-color: #e5e5e6;
                border: none;
            }
        }
    }
}


@media screen and (min-width:992px){
    .search__contener{
        .search-class{
            width: 20%;
        }
    }
}