@media screen and (max-width: 575px) {
  .information {
    border: 1px solid #f2f2f2;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .information .button {
    width: 55%;
    height: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin: 10% 0% 15% 0%;
  }
  .information h1 {
    font-family: "Roboto", sans-serif;
    margin: 10% 0% 2% 0%;
    text-align: center;
  }
  .information p {
    text-align: center;
  }
}
@media screen and (min-width: 576px) {
  .information {
    border: 1px solid #f2f2f2;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    width: 99%;
  }
  .information .button {
    width: 30%;
    height: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin: 5% 0% 5% 0%;
  }
  .information h1 {
    font-family: "Roboto", sans-serif;
    margin: 5% 0% 2% 0%;
    text-align: center;
    font-size: 200%;
  }
  .information p {
    text-align: center;
    font-size: 115%;
  }
}
.heart__contener {
  margin-left: 15%;
}
.heart__contener .full-heart {
  font-size: 22px;
  position: relative;
  color: white;
  transition: all 0.6s ease-in-out;
}
.heart__contener .full-heart:hover {
  color: transparent;
  background-image: linear-gradient(160deg, #9356DC 0%, #ff79da 95%);
  background-clip: text;
  transform: scale(1.1);
}
.heart__contener .full-heart:hover .empty-heart {
  opacity: 0;
  transform: scale(0.9);
}
.heart__contener .empty-heart {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  color: black;
  transition: all 0.8s ease-in-out;
}

.heart__contener--menu {
  position: absolute;
  right: 30px;
}
.heart__contener--menu .full-heart {
  font-size: 22px;
  position: relative;
  color: white;
  transition: all 0.6s ease-in-out;
}
.heart__contener--menu .full-heart:hover {
  color: transparent;
  background-image: linear-gradient(160deg, #9356DC 0%, #ff79da 95%);
  background-clip: text;
  transform: scale(1.1);
}
.heart__contener--menu .full-heart:hover .empty-heart {
  opacity: 0;
  transform: scale(0.9);
}
.heart__contener--menu .empty-heart {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  color: black;
  transition: all 0.8s ease-in-out;
}

@media screen and (min-width: 992px) {
  .heart__contener--menu {
    right: 440px;
  }
}
.fonctionnement {
  background-color: white;
  margin-bottom: 15%;
}
.fonctionnement h2 {
  margin: 15% 0% 8% 5%;
}
.fonctionnement ul {
  list-style: none;
}
.fonctionnement li {
  margin: 5% 0% 0% -5%;
  width: 100%;
  border-radius: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.15);
}
.fonctionnement span {
  display: flex;
  justify-content: center;
  position: absolute;
  border: 1px solid #9356DC;
  border-radius: 15px;
  width: 20px;
  background-color: #9356DC;
  color: white;
  margin-left: -90%;
}
.fonctionnement i {
  margin: 0% 5% 0% -25%;
  color: #7e7e7e;
}
.fonctionnement i:hover {
  color: #9356DC;
}
.fonctionnement li:hover {
  background-color: #f4ecfc;
  border-color: 2px solid #f4ecfc;
}
.fonctionnement li:hover i {
  color: #9356DC;
}

@media screen and (min-width: 576px) {
  .fonctionnement {
    background-color: white;
    margin-bottom: 15%;
  }
  .fonctionnement h2 {
    display: flex;
    justify-content: center;
    font-size: 55px;
    margin: 5% 0% 0% 0%;
  }
  .fonctionnement ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .fonctionnement li {
    margin: 5% 5% 0% 0%;
    width: 40%;
    border-radius: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.15);
  }
  .fonctionnement span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid #9356DC;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    background-color: #9356DC;
    color: white;
    margin-left: -38%;
  }
  .fonctionnement i {
    position: absolute;
    margin-left: -23%;
  }
  .fonctionnement i:hover {
    color: #9356DC;
  }
  li:hover {
    background-color: #f4ecfc;
    border-color: 2px solid #f4ecfc;
  }
  li:hover i {
    color: #9356DC;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement {
    margin-bottom: 5%;
  }
  .fonctionnement li {
    width: 25%;
  }
  .fonctionnement span {
    margin-left: -24.5%;
  }
  .fonctionnement i {
    margin-left: -10%;
  }
}
@media screen and (max-width: 575px) {
  .restaurant {
    border: 1px solid white;
    background-color: #f4f4f4;
    padding-bottom: 50px;
  }
  .restaurant__titre {
    margin: 12% 0% 8% 3%;
  }
  .restaurants__cards--content .restaurant__card {
    display: block;
    width: 93%;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 3%;
    height: 260px;
    border: 1px solid #fcfcfc;
    border-radius: 20px;
    background-color: #fcfcfc;
    position: relative;
  }
  .restaurants__cards--content .restaurant__card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  .restaurants__cards--content .restaurant__card span {
    position: absolute;
    margin: 0% 0% 0% -30%;
    border: 1px solid #99e2d0;
    background-color: #99e2d0;
    color: green;
    width: 85px;
    display: inline-flex;
    justify-content: center;
    height: 25px;
    align-items: center;
    top: 5%;
    right: 5%;
  }
  .restaurants__cards--content .restaurant__card h3 {
    margin: 2% 0% 0% 3%;
  }
  .restaurants__cards--content .restaurant__card p {
    margin: 2% 0% 0% 3%;
  }
  .restaurants__cards--content .heart__contener {
    display: flex;
    justify-content: flex-end;
    margin: -10% 7% 0% 0%;
  }
}
@media screen and (min-width: 576px) {
  .restaurant {
    border: 1px solid white;
    background-color: #f4f4f4;
    padding-bottom: 50px;
  }
  .restaurant h2 {
    margin: 5% 0% 5% 5%;
    font-size: 55px;
  }
  .restaurant__titre {
    margin: 12% 0% 8% 3%;
  }
  .restaurants__cards--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants__cards--content .restaurant__card {
    display: block;
    width: 40%;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    height: 260px;
    border: 1px solid #fcfcfc;
    border-radius: 20px;
    background-color: #fcfcfc;
  }
  .restaurants__cards--content .restaurant__card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  .restaurants__cards--content .restaurant__card span {
    position: absolute;
    margin: 0% 0% 0% -30%;
    border: 1px solid #99e2d0;
    background-color: #99e2d0;
    color: green;
    width: 85px;
    display: inline-flex;
    justify-content: center;
    height: 25px;
    align-items: center;
    margin: 3% 0% 0% -14%;
  }
  .restaurants__cards--content .restaurant__card h3 {
    margin: 2% 0% 0% 3%;
  }
  .restaurants__cards--content .restaurant__card p {
    margin: 2% 0% 0% 3%;
  }
  .restaurants__cards--content .heart__contener {
    display: flex;
    justify-content: flex-end;
    margin: -10% 7% 0% 0%;
  }
}
@media screen and (min-width: 992px) {
  .restaurant {
    margin-bottom: -10%;
  }
  .restaurants__cards--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants__cards--content .restaurant__card {
    height: 350px;
    position: relative;
  }
  .restaurants__cards--content .restaurant__card img {
    height: 260px;
  }
  .restaurants__cards--content .heart__contener {
    margin: -5% 7% 0% 0%;
  }
}
.button__contener {
  display: flex;
  justify-content: center;
  margin: 10% 0% 10% 0%;
}

.button {
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-image: linear-gradient(180deg, #ff79da 0%, #9356DC 95%);
  padding: 10px 15px;
  display: inline-block;
  width: 80%;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.43);
}
.button:hover {
  transform: scale(1.2);
  background-image: linear-gradient(180deg, #fface8 0%, #ae80e5 95%);
}

.check {
  display: flex;
  border: 1px solid #99e2d0;
  width: 18%;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 0% 20% 20% 0%;
  background-color: #99e2d0;
}
.check i {
  color: white;
  font-size: 20px;
}

.menu__contener {
  margin: 3%;
}
.menu__contener h2 {
  border-bottom: 2px solid #99e2d0;
  padding-top: 2%;
  text-align: center;
  width: 70px;
}

.entree__card--content, .plats__card--content, .dessert__card--content {
  padding-left: 10px;
  width: 80%;
}
.entree__card--content h3, .plats__card--content h3, .dessert__card--content h3 {
  font-size: initial;
  width: 100%;
  margin: 0% 0% 0% 2%;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.entree__card--content p, .plats__card--content p, .dessert__card--content p {
  font-size: small;
  width: 100%;
  margin: 0% 0% 0% 2%;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.entree__price, .plats__price, .dessert__price {
  display: flex;
  position: relative;
  font-size: initial;
  justify-content: end;
  width: 50%;
}
.entree__price span, .plats__price span, .dessert__price span {
  display: inline-block;
}

.entree__card, .plats__card, .dessert__card {
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 70px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button__commande .button {
  width: 45%;
}

@media screen and (min-width: 576px) {
  .titre .full-heart {
    font-size: 40px;
  }
  .menu__contener h2 {
    padding-top: 2%;
    width: 100px;
    font-size: 30px;
  }
  .button__commande .button {
    width: 25%;
  }
}
@media screen and (min-width: 992px) {
  .menu__contener {
    margin: 0%;
  }
  .button__commande .button__contener {
    margin: 5% 0% 3% 0%;
  }
  .button__commande .button {
    width: 40%;
    height: 60px;
  }
  .button__commande span {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.search-class {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid #f2f2f2;
  background-color: #e5e5e6;
  margin-top: 3%;
  gap: 5%;
  padding-left: 20%;
}
.search-class .search {
  background-color: #e5e5e6;
  border: none;
  font-size: 15px;
}

@media screen and (min-width: 576px) {
  .search__contener {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search__contener .search-class {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid #f2f2f2;
    background-color: #e5e5e6;
    margin-top: 3%;
    width: 50%;
    border-radius: 20px;
    padding: 0% 0% 0% 4%;
  }
  .search__contener .search-class .search {
    background-color: #e5e5e6;
    border: none;
  }
}
@media screen and (min-width: 992px) {
  .search__contener .search-class {
    width: 20%;
  }
}
.loader__contener {
  animation: disappear 4s forwards;
}
.loader__contener .loader {
  width: 48px;
  height: 48px;
  border: 5px solid grey;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 4s linear forwards;
  position: absolute;
  top: 20%;
  left: 43%;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading__content {
  opacity: 0;
  animation: appear 4s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .loader__contener .loader {
    height: 6%;
    width: 10%;
    position: absolute;
    left: 46%;
  }
}
@media screen and (min-width: 992px) {
  .loader__contener .loader {
    height: 20%;
    top: 40%;
  }
}
.entree__contener .entree__card {
  font-size: 22px;
  position: relative;
  transition: all 2s ease-in-out;
  animation: appear 2s ease-in-out;
}
.entree__contener .entree__card .check {
  opacity: 0;
  width: 0%;
  transition: all 0.8s ease-in-out;
}
.entree__contener .entree__card .entree__price span {
  transition: all 1.4s ease-in-out;
  position: absolute;
  top: 5px;
  right: 15px;
}
.entree__contener .entree__card:hover .entree__card--content {
  width: 60%;
}
.entree__contener .entree__card:hover .check {
  opacity: 100;
  width: 17%;
}
.entree__contener .entree__card:hover .check i {
  animation: rotate 1s ease-in-out both;
}
.entree__contener .entree__card:hover .entree__price {
  width: 0%;
}
.entree__contener .entree__card:hover .entree__price span {
  width: 20%;
  transition: all 1.5s ease-in-out;
  position: absolute;
  top: 5px;
  right: 20px;
}

@media screen and (min-width: 576px) {
  .entree {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .entree .entree__contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }
  .entree__card {
    width: 45%;
    height: 75px;
  }
  .entree__card:hover .entree__card {
    width: 125%;
    height: 75px;
  }
}
.plats__contener .plats__card {
  font-size: 22px;
  position: relative;
  transition: all 2s ease-in-out;
  animation: appear 2s ease-in-out;
}
.plats__contener .plats__card .check {
  opacity: 0;
  width: 0%;
  transition: all 0.8s ease-in-out;
}
.plats__contener .plats__card .plats__price span {
  transition: all 1.4s ease-in-out;
  position: absolute;
  top: 5px;
  right: 15px;
}
.plats__contener .plats__card:hover .plats__card--content {
  width: 60%;
}
.plats__contener .plats__card:hover .check {
  opacity: 100;
  width: 17%;
}
.plats__contener .plats__card:hover .check i {
  animation: rotate 1s ease-in-out both;
}
.plats__contener .plats__card:hover .plats__price {
  width: 0%;
}
.plats__contener .plats__card:hover .plats__price span {
  width: 20%;
  transition: all 1.5s ease-in-out;
  position: absolute;
  top: 5px;
  right: 20px;
}

@media screen and (min-width: 576px) {
  .plats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plats .plats__contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }
  .plats__card {
    width: 45%;
    height: 75px;
  }
  .plats__card:hover .plats__card {
    width: 125%;
    height: 75px;
  }
}
.dessert__contener .dessert__card {
  font-size: 22px;
  position: relative;
  transition: all 2s ease-in-out;
  animation: appear 2s ease-in-out;
}
.dessert__contener .dessert__card .check {
  opacity: 0;
  width: 0%;
  transition: all 0.8s ease-in-out;
}
.dessert__contener .dessert__card .dessert__price span {
  transition: all 1.4s ease-in-out;
  position: absolute;
  top: 5px;
  right: 15px;
}
.dessert__contener .dessert__card:hover .dessert__card--content {
  width: 60%;
}
.dessert__contener .dessert__card:hover .check {
  opacity: 100;
  width: 17%;
}
.dessert__contener .dessert__card:hover .check i {
  animation: rotate 1s ease-in-out both;
}
.dessert__contener .dessert__card:hover .dessert__price {
  width: 0%;
}
.dessert__contener .dessert__card:hover .dessert__price span {
  width: 20%;
  transition: all 1.5s ease-in-out;
  position: absolute;
  top: 5px;
  right: 20px;
}

@media screen and (min-width: 576px) {
  .dessert {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dessert .dessert__contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }
  .dessert__card {
    width: 45%;
    height: 75px;
  }
  .dessert__card:hover .dessert__card {
    width: 125%;
    height: 75px;
  }
}
footer {
  display: flex;
  background-color: #2e2e2e;
  padding: 30px 0px 30px 0px;
  gap: 400px;
  width: 100%;
}
footer ul {
  list-style: none;
}
footer h3 {
  margin-left: 10%;
  margin-top: 0%;
  font-family: "Shrikhand", sans-serif;
}
footer ul {
  margin: 10% 0% 0% -8%;
}
footer li {
  padding-bottom: 5%;
}
footer a {
  text-decoration: none;
}
footer i {
  margin-right: 5%;
}

footer, .footer {
  color: white;
}

footer .fa-handshake-angle {
  width: 7%;
}

@media screen and (min-width: 992px) {
  footer {
    margin-top: 10%;
  }
}
@media screen and (max-width: 575px) {
  header {
    display: flex;
    align-items: center;
    margin-top: 5%;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  img {
    width: 50%;
  }
  .retour {
    margin: 0% 0% 0% 120%;
    display: flex;
    font-size: x-large;
    position: relative;
    text-decoration: none;
    color: black;
  }
}
@media screen and (min-width: 576px) {
  header {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  img {
    width: 70%;
  }
  .retour {
    margin: 0% 0% 0% -200%;
    font-size: 40px;
    display: flex;
    position: relative;
    text-decoration: none;
    color: black;
  }
}
@media screen and (min-width: 992px) {
  img {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  body {
    background-color: white;
  }
  .marge {
    margin: 0%;
  }
}
@media screen and (min-width: 576px) {
  .marge {
    margin: 0%;
  }
}
body {
  background-color: white;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2, h3, p, a, span {
  font-family: "Roboto", sans-serif;
}

.marge {
  margin: 0%;
}
.marge .general {
  position: absolute;
  width: 100%;
}
.marge .general__contener {
  border: 1px solid white;
  border-radius: 25px;
  background-color: white;
  margin-top: -4%;
  width: 99.5%;
}

.restaurant-image {
  position: relative;
}
.restaurant-image img {
  width: 100%;
  height: 220px;
  margin-top: 3%;
  margin-bottom: -4%;
  object-fit: cover;
}

.titre {
  display: flex;
  align-items: center;
  margin-top: 3%;
}

@keyframes rotate {
  40% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
@media screen and (min-width: 576px) {
  .titre {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant-image {
    margin-bottom: -55%;
  }
  .restaurant-image img {
    object-fit: none;
    max-height: 200%;
    height: 200%;
  }
  .marge .general {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 155px;
    bottom: -740px;
  }
  .marge .general__contener {
    width: 60%;
    margin-top: 8%;
    margin-bottom: -9%;
  }
  .marge .general__contener .titre {
    height: 85px;
  }
}

/*# sourceMappingURL=style.css.map */
