
body{
    background-color: white;
}
h1{
    font-family: "Shrikhand",sans-serif;
}
h2,h3,p,a, span{
    font-family: "Roboto",sans-serif;
}
.marge{
    margin: 0%;
    .general__contener{
        border: 1px solid white;
        border-radius: 25px;
        background-color: white;
        position: absolute;
        margin-top: -4%;
        width: 100%;
    }
}
.restaurant-image img{
    width: 100%;
    margin-top: 3%;
    margin-bottom: -4%;
}
.titre{
    display: flex;
    align-items:center;
    margin-top: 3%;
    h1{
           margin-left: 3%;
    }
}
@keyframes rotate{
    40%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(1turn);
    }
}


@media screen and (min-width:576px){
    .titre{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
}


@media screen and (min-width:992px){
    .restaurant-image img{
        object-fit: none;
    }
    .marge{
        .general{
            display: flex;
            justify-content: center;
            &__contener{
                width: 70%;
            }    
        }
    }
}