
body{
    background-color: white;
}
h1{
    font-family: "Shrikhand",sans-serif;
}
h2,h3,p,a, span{
    font-family: "Roboto",sans-serif;
}
.marge{
    margin: 0%;
    .general{
        position: absolute;
        width: 100%;
    }
    .general__contener{
        border: 1px solid white;
        border-radius: 25px;
        background-color: white;
        margin-top: -4%;
        width: 99.5%;
    }
}
.restaurant-image{
    position: relative;
    img{
    width: 100%;
    height: 220px;
    margin-top: 3%;
    margin-bottom: -4%;
    object-fit: cover;
    }
}
.titre{
    display: flex;
    align-items:center;
    margin-top: 3%;
    h1{
        margin-left: 2%;
    }
}
@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
              opacity: 1;
    }
  }
  @keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
                opacity: 0;
      }
    100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 1;
    }
}
.one,.two,.three,.four{
    -webkit-animation: slide-top 1s forwards;
    animation: slide-top 1s forwards;

}
.one{
    animation-delay: 1000ms;
  }
.two{
    animation-delay: 1500ms;
  }
.three{
    animation-delay: 2000ms;
  }
 .four{
    animation-delay: 2500ms
  }

@keyframes rotate{
    40%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(1turn);
    }
}


@media screen and (min-width:576px){
    .titre{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
}


@media screen and (min-width:992px){
    .restaurant-image{
        // margin-bottom: -55%;
        img{
            object-fit: none;
            height: 100%;
            position: relative;
            max-height: 1275px;
            // max-height: 200%;
            // height: 200%;
        }
    }
    .marge{
        .general{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            // top: 155px;
            // bottom: -740px;
            &__contener{
                width: 60%;
                margin-top: 8%;
                margin-bottom: -9%;
                margin-top: -61%;
                .titre{
                    height: 85px;
                }
            }    
        }
    }
}