
body{
    background-color: white;
}
h1{
    font-family: "Shrikhand",sans-serif;
}
h2,h3,p,a, span{
    font-family: "Roboto",sans-serif;
}
.marge{
    margin: 0%;
    .general{
        position: absolute;
        width: 100%;
    }
    .general__contener{
        border: 1px solid white;
        border-radius: 25px;
        background-color: white;
        margin-top: -4%;
        width: 99.5%;
    }
}
.restaurant-image{
    position: relative;
    img{
    width: 100%;
    height: 240px;
    margin-top: 3%;
    margin-bottom: -4%;
    object-fit: cover;
    }
}

.restaurant-image-note-enchantee img{
    width: 100%;
    height: 240px;
    margin-top: 3%;
    margin-bottom: -4%;
}
.titre{
    display: flex;
    align-items:center;
    margin-top: 3%;
    h1{
           margin-left: 3%;
    }
}
@keyframes rotate{
    40%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(1turn);
    }
}


@media screen and (min-width:576px){
    .titre{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    .restaurant-image-note-enchantee img{
        height: 235px;
    }
}


@media screen and (min-width:992px){
    .restaurant-image img{
        object-fit: none;
        max-height: 120%;
        height: 120%;
    }
    .marge{
        display: flex;
         flex-direction: column;
        .general{
            display: flex;
            justify-content: center;
            align-items: end;
            &__contener{
                width: 70%;
                .titre{
                    height: 85px;
                }
            }    
        }
    }
}